  /*.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    grid-column: auto;
    
}*/
.game-container{
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}
/*.young-wayne{
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}*/